ProvVe.MachineService.ModernWindowsApp/Connected Services/DeviceService/DeviceService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56660/DeviceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Enumerations" />
  <xs:complexType name="OpenPortRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Enumerations" name="PortName" type="q1:Ports" />
      <xs:element minOccurs="0" name="Protocol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpenPortRequest" nillable="true" type="tns:OpenPortRequest" />
  <xs:complexType name="ResetRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="MachineId" type="xs:int" />
      <xs:element minOccurs="0" name="MaxRetry" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResetRequest" nillable="true" type="tns:ResetRequest" />
</xs:schema>