ProvVe.MachineService.ModernWindowsApp/Connected Services/DeviceService/DeviceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeviceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56660/DeviceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56660/DeviceService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Dto" />
      <xsd:import schemaLocation="http://localhost:56660/DeviceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56660/DeviceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Requests" />
      <xsd:import schemaLocation="http://localhost:56660/DeviceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:56660/DeviceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Enumerations" />
      <xsd:import schemaLocation="http://localhost:56660/DeviceService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Responses" />
      <xsd:import schemaLocation="http://localhost:56660/DeviceService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeviceService_OpenPort_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenPort" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_OpenPort_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenPortResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_OpenPort_ErrorDtoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Dto" name="detail" element="q1:ErrorDto" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Reset_InputMessage">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_GetMachines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMachines" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_GetMachines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMachinesResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_SearchMachines_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchMachines" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_SearchMachines_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchMachinesResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Call_InputMessage">
    <wsdl:part name="parameters" element="tns:Call" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Call_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeviceService">
    <wsdl:operation name="OpenPort">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunication/OpenPort" message="tns:IDeviceService_OpenPort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunication/OpenPortResponse" message="tns:IDeviceService_OpenPort_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICommunication/OpenPortErrorDtoFault" name="ErrorDtoFault" message="tns:IDeviceService_OpenPort_ErrorDtoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/Ping" message="tns:IDeviceService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/PingResponse" message="tns:IDeviceService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/Reset" message="tns:IDeviceService_Reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/ResetResponse" message="tns:IDeviceService_Reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMachines">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/GetMachines" message="tns:IDeviceService_GetMachines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/GetMachinesResponse" message="tns:IDeviceService_GetMachines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchMachines">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/SearchMachines" message="tns:IDeviceService_SearchMachines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/SearchMachinesResponse" message="tns:IDeviceService_SearchMachines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Call">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/Call" message="tns:IDeviceService_Call_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/CallResponse" message="tns:IDeviceService_Call_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDeviceService" type="tns:IDeviceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OpenPort">
      <soap:operation soapAction="http://tempuri.org/ICommunication/OpenPort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorDtoFault">
        <soap:fault use="literal" name="ErrorDtoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/Reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachines">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/GetMachines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMachines">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/SearchMachines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Call">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/Call" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeviceService">
    <wsdl:port name="BasicHttpBinding_IDeviceService" binding="tns:BasicHttpBinding_IDeviceService">
      <soap:address location="http://localhost:56660/DeviceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>