ProvVe.MachineService.WindowsApp/Connected Services/DeviceService/DeviceService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://provvemachineserviceservice20180711094906.azurewebsites.net/DeviceService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ErrorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Severity" type="xs:int" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDto" nillable="true" type="tns:ErrorDto" />
  <xs:complexType name="ArrayOfMachineDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MachineDto" nillable="true" type="tns:MachineDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMachineDto" nillable="true" type="tns:ArrayOfMachineDto" />
  <xs:complexType name="MachineDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customers" nillable="true" type="tns:ArrayOfCustomerDto" />
      <xs:element minOccurs="0" name="WorkHours" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MachineDto" nillable="true" type="tns:MachineDto" />
  <xs:complexType name="ArrayOfCustomerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerDto" nillable="true" type="tns:CustomerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerDto" nillable="true" type="tns:ArrayOfCustomerDto" />
  <xs:complexType name="CustomerDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MachineCodes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDto" nillable="true" type="tns:CustomerDto" />
</xs:schema>