ProvVe.MachineService.WindowsApp/Connected Services/DeviceService/DeviceService24.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://provvemachineserviceservice20180711094906.azurewebsites.net/DeviceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Requests" />
  <xs:import schemaLocation="http://provvemachineserviceservice20180711094906.azurewebsites.net/DeviceService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Responses" />
  <xs:import schemaLocation="http://provvemachineserviceservice20180711094906.azurewebsites.net/DeviceService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Dto" />
  <xs:import schemaLocation="http://provvemachineserviceservice20180711094906.azurewebsites.net/DeviceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="OpenPort">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Requests" minOccurs="0" name="request" nillable="true" type="q1:OpenPortRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenPortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Responses" minOccurs="0" name="OpenPortResult" nillable="true" type="q2:OpenPortResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Requests" minOccurs="0" name="input" nillable="true" type="q3:ResetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Responses" minOccurs="0" name="ResetResult" nillable="true" type="q4:ResetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachines">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Requests" minOccurs="0" name="input" nillable="true" type="q5:GetMachinesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Responses" minOccurs="0" name="GetMachinesResult" nillable="true" type="q6:GetMachinesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMachines">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Requests" minOccurs="0" name="input" nillable="true" type="q7:GetMachinesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMachinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProvVe.MachineService.NetworkMessages.Dto" minOccurs="0" name="SearchMachinesResult" nillable="true" type="q8:ArrayOfMachineDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Call">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CallResult" nillable="true" type="q9:TupleOfstringintstringdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>