ProvVe.MachineService.ModernWindowsApp/Connected Services/MaintenanceService/Mares.Maintenance.NetworkMessages.Requests.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mares.Maintenance.NetworkMessages.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mares.Maintenance.NetworkMessages.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="WelcomeRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WelcomeRequest" nillable="true" type="tns:WelcomeRequest" />
  <xs:complexType name="BaseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ClientVersion" nillable="true" type="q1:Version" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
</xs:schema>