ProvVe.MachineService.ModernWindowsApp/Connected Services/MaintenanceService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Mares.Maintenance.NetworkMessages.Requests" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Mares.Maintenance.NetworkMessages.Responses" />
  <xs:element name="WelcomeMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mares.Maintenance.NetworkMessages.Requests" minOccurs="0" name="Request" nillable="true" type="q1:WelcomeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WelcomeMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mares.Maintenance.NetworkMessages.Responses" minOccurs="0" name="WelcomeMethodResult" nillable="true" type="q2:WelcomeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WelcomeMethod2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WelcomeMethod2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mares.Maintenance.NetworkMessages.Responses" minOccurs="0" name="WelcomeMethod2Result" nillable="true" type="q3:WelcomeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>